<div class="mx-5">
  <h1>Create a connection</h1>
  <%= simple_form_for @connection do |f| %>
    <%= f.input :article_id %>
    <%= f.input :folder_id %>
    <%= f.button :submit %>
  <% end %>
</div>
