// Define variables for your color scheme

// For example:
$green: #90B498;
$blue: #95CeD7;
$beige: #F1ECE4;
$gray: #262627;
$light-gray: #474747;

$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;

