.archive_card {
  padding-right: 200px;
  padding-left: 200px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.folder_card_container_archive {
  border-radius: 10px;
  border: 2px solid #bab5ae;
  order: 5;
  margin: 5px;
}

.folder_card_container_archive:hover {
  background-color: #d1cbc4;
}

.card-title_archive {
  font-family: 'Inter', sans-serif;
  font-weight: 1000;
  padding-left: 200px;
}
