.body-dashboard {
  margin-left: 160px;
  margin-right: 160px;
}

.folder-card-text {
  font-size: 15px;
<<<<<<< HEAD
  text-decoration: none;
=======
>>>>>>> cd6e41ae4b6b2db0e4089528a26ea2f19dea44fc
}
