<div class="card1 w-100 p-3 text-center">
  <br>
  <div class="titlecard">
    <h2><%= title %></h2>
  </div>
  <br>
  <div class="w-100">
    <div class="row">
      <div class="reminder col-4">
        Tommorow
      </div>
      <div class="article-title col-4">
        Characteristic patterns of EEG oscillations in human
      </div>
      <div class="folder-title col-4">
        Neuroscience
      </div>
    </div>
    <div class="row">
      <div class="reminder col-4">
        In 27 days
      </div>
      <div class="article-title col-4">
        Serena Williams Masterclass Review
      </div>
      <div class="folder-title col-4">
        Tennis
      </div>
    </div>
    <div class="row">
      <div class="reminder col-4">
        In 3 days
      </div>
      <div class="article-title col-4">
          The best Places to Learn to Scuba Dive in 2019
      </div>
      <div class="folder-title col-4">
        Diving
      </div>
    </div>
    <br>
  </div>
</div>
