<div class="card">
  <%= image_tag folder_picture, class:"card-img-top card_border", alt: "Folder picture" %>
  <div class="card-body">
    <h5 class="card-title"><%= title %></h5>
      <% articles.each do |article| %>
        <p class="card-text">
          <div class="folder-card-text">
            <ul>
              <li><%= link_to article.title, article.url, target: :_blank %><br>
                <%= link_to article.status, mark_as_done_path(article) %></li>
            </ul>
          </div>
        </p>
      <%end%>
  </div>

  <div class="card-footer">
      <div><i class="fas fa-share"></i> Share</div>
      <div><i class="fas fa-plus-circle"></i> Add article</div>
  </div>
</div>
