<div class="container">

  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

    <div>
      <a class="navbar-brand logo" href="/">
        GottaRead
      </a>
    </div>

    <div>

      <ul class="navbar-nav mr-auto">

          <li class="nav-item active mr-3">
            <a class="nav-link" href="#">FAQs</a>
          </li>

          <li class="nav-item active mr-3">
            <a class="nav-link" href="#">Careers</a>
          </li>

          <li class="nav-item active mr-3">
            <a class="nav-link" href="#">Pricing</a>
          </li>

          <li class="nav-item active mr-3">
            <a class="button-ghost" href=" /users/sign_in">Log in</a>
          </li>

          <li class="nav-item active mr-3">
            <a class="button-black" href=" /users/sign_up">Sign up</a>
          </li>
      </ul>

    </div>

  </div>

</div>
