<div class="">

  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

    <div>
      <a class="navbar-brand logo" href="/">
        GottaRead
      </a>
    </div>

    <div>

      <ul class="navbar-nav mr-auto">

          <% if signed_in? != true %>

          <li class="nav-item active mr-3">
            <a class="nav-link" href="#">FAQs</a>
          </li>

          <li class="nav-item active mr-3">
            <a class="nav-link" href="#">Careers</a>
          </li>

          <li class="nav-item active mr-3">
            <a class="nav-link" href="#">Pricing</a>
          </li>

            <li class="nav-item active mr-3">
              <a class="button-ghost" href=" /users/sign_in">Log in</a>
            </li>

            <li class="nav-item active mr-3">
              <a class="button-black" href=" /users/sign_up">Sign up</a>
            </li>

          <% else signed_in? == true %>

          <li class="nav-item active mr-3">
            <a class="nav-link" href="#">FAQs</a>
          </li>

          <li class="nav-item active mr-3">
             <a class="nav-link" href="#">Careers</a>
          </li>

          <li class="nav-item active mr-3">
            <a class="nav-link" href="#">Pricing</a>
          </li>

          <li class="nav-item active mr-3">
            <a class="nav-link" href="/archive">Search</a>

           <li class="nav-item active mr-3">
            <a class="nav-link" href="/archive">Archive</a>
           </li>

            <li class="nav-item active mr-3">
              <a class="button-ghost" href=" /dashboard">Dashboard</a>
            </li>

            <li class="nav-item active mr-3">
               <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "button-black" %>
            </li>

          <% end %>

      </ul>

    </div>

  </div>

</div>
