<div class="card w-100 p-3 text-center">
  <div class="">
    <h5><%= title %></h5>
  </div>
  <div class="w-100">
    <div class="row">
      <div class="reminder col-4">
        tommorow
      </div>
      <div class="article-title col-4">
        pudding
      </div>
      <div class="folder-title col-4">
        food
      </div>
    </div>
    <div class="row">
      <div class="reminder col-4">
        yesterday
      </div>
      <div class="article-title col-4">
        yellow cats
      </div>
      <div class="folder-title col-4">
        cat
      </div>
    </div>
    <div class="row">
      <div class="reminder col-4">
        yesterday
      </div>
      <div class="article-title col-4">
        blue dog
      </div>
      <div class="folder-title col-4">
        radioactivity
      </div>
    </div>
  </div>
</div>
