<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content">
    <div class="header">
      <h1><span class="eachletter">T</span>here is a better way
        to save articles </h1>
    </div>
    <div class="secondheader">
      <h2>You don't want to get angry at your reading list. And you current reading list is a mess. Use GottaRead instead — and make your brain happy.</h2>
      <br>
      <%= link_to "Get started - it's free", new_user_session_path, class: "btn btn-dark"  %>
    </div>
  </div>
  <div class="banner-pic">
    <%= image_tag "large_thumbnail.png", alt: "girl reading" %>
  </div>
</div>
<div class="body-homepage">
  <div class="firstbody">
    <h1>the best place to keep all your favourite articles organized</h1>
  </div>
  <div class="secondbody">
    <h2>Never miss an interesting article about your chosen topic</h2>
    <p>be reminded at the time that suits your life</p>
  </div>
  <div class=thirdbody>
    <div>
      <h3>Organize with ease</h3>
      <p><i class="far fa-folder"></i> GottaRead.club is not just a pretty interface, it will help you untangle your bookmark mess.</p>
    </div>
    <div>
      <h3>Seeing the big picture</h3>
      <p>All relevant info visible at one glance, so there's no need to search for long</p>
    </div>
  </div>
  <div>
    <div>
    <h2>Full-text search</h2>
    <p>The whole content of the articles you've saved is searchable. One of the strengths of GottaRead.club is that it searches not only the name, but also the contents of the pages.</p>
    </div>
  </div>
</div>


   <h2>Create folders and set a reminder that you enjoy looking at your reading list</h2>
