
<div class="banner">
  <div class="banner-content">
    <div class="header">
      <h1><span class="eachletter">T</span>here is a better way
        to save articles </h1>
    </div>
    <div class="secondheader">
      <h2> Your current reading list is a mess. You don't want to get angry at her. Use GottaRead instead — and make your brain happy.</h2>
      <br>
      <%= link_to "Get started - it's free", new_user_session_path, class: "btn btn-dark"  %>
    </div>
  </div>
  <div class="banner-pic">
    <%= image_tag "large_thumbnail.png", alt: "girl reading" %>
  </div>
</div>
<div class="body-homepage">
  <div class="firstbody">
    <h1>the best place to keep all your favourite articles organized</h1>
  </div>
  <div class="secondbody">
    <h3>Never miss an interesting article about your topic</h3>
    <p>be reminded at the time that suits your life.</p>
  </div>
  <div class=thirdbody>
    <div>
      <h2>Organize with ease</h3>
      <p><i class="far fa-folder"></i> GottaRead is not just a pretty interface, it will help you untangle your to-read mess.</p>
    </div>
    <div>
      <h2>Seeing the big picture</h2>
      <p>All relevant info visible at one glance, so there's no need to search for long.</p>
    </div>
  </div>
  <div>
    <div>
    <h3>Full-text search</h3>
    <p>Stop searching for URLs you can't remember. We help you to look for buzzwords within the page, on the PDF, your notes...<br>well, and URLs.</p>
    </div>
  </div>
</div>
