.body-homepage{
  text-align: center;
  h1 {
    font-weight: 300;
    font-size: 48px
  }

  h2 {
    font-weight: 500;
    font-size: 30px
  }

  h3 {
    font-weight: 500;
    font-size: 20px
  }

  p {
   font-weight: 300;
   font-size: 24px;
  }
}

.lp_motto{
  margin-bottom: 50px;
}

.lp_usp_container {
  display: flex;
  justify-content: center;
  align-itmes: baseline;
}

.lp_usp_text{
  margin: 100px;
}

.footer {
  p {
  text-align: left;
  margin-left: 160px;
  font-size: 14px;
  }
}
