.body-homepage{
  text-align: center;
  h1 {
    font-weight: 300;
    font-size: 48px
  }
  h3 {
    font-weight: 500;
    font-size: 30px
  }

  h2 {
    font-weight: 500;
    font-size: 20px
  }

  p {
   font-weight: 300;
   font-size: 24px;
  }
}
.firstbody{
  padding: 200px;

}

.secondbody {
  background-image: linear-gradient(to top right, #cce5dd, $beige,);
  padding: 200px;
}
.thirdbody{
  background: $beige;
  padding: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  h1{
    padding:37px;
  }

}
