.card-img-top {
  // margin: 0 auto;
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
  width: 100%;
}
.card-title{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}
.crd-body {
  height: 40vh;
  overflow-y: auto;
  padding: 0 16px 16px 16px;
}
h5.card-title {
  margin-bottom: 0;
  margin-top: 8px;
}

.card:hover{
  // transform: scale(1.01);
  // transition: box-shadow 500ms ease,transform 20ms ease;
  // box-shadow: -10px 10px 0 #474747;
  }

.card-footer {
  font-size: 13px;
  background-color: #f7f3ed;
  color: #474747;

  a {
  text-decoration: none;
  color: grey;
  }

  a:hover {
    color: black;
  }
}

.card_border {
 border-radius: 10px;
}

.grid_for_cards {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-gap: 32px;

  .card {
    // margin: 0 1rem 1rem 0;
    width: 30vw;
    // height: fit-content;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 7px 0px;
    margin: 0 16px;
  }
}


// TRIAL //
.horizontal-scroll {
  display: flex;
  // height: 100vh;
  width: 100vw;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}

.card_emoticon_push {
  display: flex;
  justify-content: space-between;
}
