.card-img-top {
  margin: 0 auto;
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
}
.card-title{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 7px 0px;
  order: 3;
}

.card:hover{
  // transform: scale(1.01);
  // transition: box-shadow 500ms ease,transform 20ms ease;
  // box-shadow: -10px 10px 0 #474747;
  }

.card-footer {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  background-color: #f7f3ed;
  color: #474747;
  text-align: center;

  a {
  text-decoration: none;
  color: grey;
  }

  a:hover {
    color: black;
  }
}

.card_border {
 border-radius: 10px;
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.card_emoticon_push {
  display: flex;
  justify-content: space-between;
}
