.navbar-lewagon {
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 80px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
font-family: 'Roboto', sans-serif;
font-size: 30px;
font-weight: 700;
line-height: 59px;
letter-spacing: 0em;
text-align: left;
}
